@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Noto Sans JP", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.japanese-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.typing-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.correct {
  color: #059669;
  background-color: #d1fae5;
}

.incorrect {
  color: #dc2626;
  background-color: #fee2e2;
}

.current {
  background-color: #fbbf24;
  color: #92400e;
}
